data/Amazon/*
data/Citeseer/*
data/Coauthor/*
data/Disease/*
data/Texas/*
data/Wisconsin/*
data/Pubmed/*
__pycache/*
results/*
baseline_results/*
plot_hyparameter_study.py
plot_results.py
ablation_study.py
testing_hypothesis.ipynb
run_weak_supervision_baselines.py
run_gcl_baselines.py
data_characteristics.py
__pycache__/*
.DS_Store
method_diagram/.DS_Store
data/asw_real/marinus_labelled_graph_new_pickle_with_llm.pkl
data/asw_synth/synthetic_labelled_graph_new_pickle.pkl
data/cora_ws/*
data/liar_new/liar_rag_graph2.pkl
evaluate_baselines.py
ablation_results.py